run.sh
build.sh
sync.sh

UserStore

#archives
*.tar*
*.zip

#ignore archive files
*.tar.*
*.zip

#ignore log files
*.log
*.aux

#ignore documents
*.pdf
*.docx
*.doc
*.odt

#ignore large image files
*.ps