run.sh
build.sh
sync.sh

UserStore

#archives
*.tar*
*.zip

#ignore archive files
*.tar.*
*.zip

#ignore log files
*.log
*.aux

#ignore documents
*.pdf
*.docx
*.doc
*.odt

#ignore large image files
*.ps
*.eps

#ignore tex files
*.aux
*.lol
*.log


#ignore mesh files
*.dmg
*.smb

#ignore object files
*/src/obj/*
*/bin/*
*/lib/*

#ignore paraview files
*.pvtu
*.vtu
